
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$unblock-primary: mat-palette($mat-indigo);
$unblock-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$unblock-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$unblock-theme: mat-light-theme((
  color: (
    primary: $unblock-primary,
    accent: $unblock-accent,
    warn: $unblock-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($unblock-theme);

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Enceladus-Regular; }


//font-types for import
@font-face {
  font-family: PingFangSC-Regular;
  src: url(./assets//fonts/PingFang-SC-Regular.ttf);
}

@font-face {
  font-family:MHeiHK-Light;
  src: url(./assets//fonts/MHeiHK-Medium.otf);
}

@font-face {
  font-family: Enceladus-Regular;
  src: url(./assets/fonts/EnceladusRegular-d9xyE.otf)
}
@font-face {
  font-family: Enceladus-Demibold;
  src: url(./assets/fonts/EnceladusDemibold-mL18a.otf)
}
@font-face {
  font-family: Enceladus-Bold;
  src: url(./assets/fonts/EnceladusBold-7BrER.otf)
}