<div class="main-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="title" > 
        Contact Us
    </div>
    <div class="content" > 
        <div fxLayout="row" fxLayoutAlign="start start" >
            <div class="details"style="width: 100px;">Github :</div><a class="details"href="https://github.com/PremanJeyabalan/aws_hackathon"> repository</a>

        </div>

        
        <div fxLayout="row" fxLayoutAlign="start start" >
            <div class="details" style="width: 100px;">Email-us: </div><a class="details" href ="mailto: csowyong@connect.ust.hk">csowyong@connect.ust.hk</a>

        </div>
    </div>
    
     
</div>