@import "../../../app.component.scss";

footer {
  position: relative;
  height: 56vw;
  max-height: 600px;
  min-height: 300px;
  // background-image: url("../../../../assets/image/home-page/layer-1.jpg");
  // background-size: cover;

  background-position: 0 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // black fileter

}
